# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
AutoFinancing/*
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# SQLite database
*.db

# Logs and dumps
*.log
*.out
*.bak

# OS generated
.DS_Store
Thumbs.db


# Environment files
.env
config.py
